*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    /* background: url(https://cdn.wallpapersafari.com/6/16/bo73SI.jpg); */
    background-color: #f0f8ff;
    font-family: 'PT Serif', serif;
}
h1{
    font-weight: lighter;
    font-size: 3rem;
}
h1,h3,h4{
    font-family: 'Lobster', cursive;
    text-align: center;
}
/* section Home */
#home{
    height: 1250px;
}
#title{
    display: block;
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    /* border: red 2px solid; */
}
#hero-img{
    display: block;
    max-width: 80%;
    /* margin-left: 10%;; */
    margin: auto;
    margin-top: 10px;
    /* border: 2px solid black; */
}
#menu {
	display: none;
}
.slicknav_menu {
    display: block;
}
#igram{
    text-align: center;
    font-size: .75rem;
}

figcaption{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
#story{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    text-align: left;
}
#story h4{
    text-align: center;
    margin-top: 20px;
}
#story p{
    margin-top: 20px;
    /* text-align: center; */
}
/* end of Section Home */
/* section wedding */
#wedding{
    height: 2250px;
}
#laromana{
    display: block;
    width: 80%;
    margin: auto;
}
#wedding-details{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#wedding-schedule li{
    list-style-type: none;
}
#hotel-info li{
    list-style-type: square;
}
#wedding-party{
    /* border: 2px solid black; */
    padding-left: 0;
    /* text-decoration: underline; */
}
.wedding-party-img-containers{
    overflow: hidden;
    width: 175px;
    height: 110px;
    /* border: 2px solid red; */
    border-radius: 10%;
    margin-right: 10px;
}
#steven img, #justin img,
#jason img, #colin img{
    width: 200px;
    height: auto;
    border: 2px solid black;
    margin-left: -40px;
    margin-top: -30px;

}
#michelle img{
    width: 450px;
    height: auto;
    margin-left: -180px;
    margin-top: 30px;
    transform: rotate(90deg);
}
#emma img{
    width: 300px;
    height: auto;
    margin-left: -150px;
    margin-top: 0px;
}
#lizzy img{
    width: 200px;
    height: auto;
    margin-left: -43px;
    margin-top: 0px;
}
#norah img{
    width: 200px;
    height: auto;
    margin-left: -43px;
    margin-top: -50px;
}
#jason img{
    margin-left: -40px;
    margin-top: -60px;

}
#colin img{
    margin-left: -60px;
    margin-top: -10px;

}
#wedding-details h4{
    margin-top: 50px;
}
#wedding-party figure{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 250px;
    display: flex;
    margin-top: 40px;
}
/* end wedding */
/* begin travel */
#travel{
    height: 600px;
}
#travel-plane{
    display: block;
    max-width: 80%;
    height: auto;
    margin: auto;
}
#pcairport{
    width: 100%;
    height: auto;
}
#airport-info{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 50px;
    /* display: flex; */
}
#travel p{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
#travel h4, h3{
    /* width: 80%; */
    text-align: center;
    margin-top: 50px;
}
#photos{
    width: 80%;
    margin: auto;
}
#carosel-michelle{
    transform: rotate(90deg);
    margin-top: 57px;
}
#myCarousel img{
    width: 300px;
    max-height: 200px;
    overflow-y: hidden;
    object-fit: scale-down;
}

footer p{
    text-align: center;
    font-size: .75rem;
    font-style: italic;
    padding-top: 50px;
}
footer hr{
    margin-top: 50px;
}
@media only screen and (min-width: 768px) {
    body{
        /* background: url(https://cdn.wallpapersafari.com/6/16/bo73SI.jpg); */
        background: url(/assets/images/background.jpg);
        background-attachment: fixed;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    section{
        max-width: 900px;
        margin: auto;
    }
    .slicknav_menu{
        display: none;
    }
    #menu{
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        
    }
    #menu li{
        list-style: none;
    }
    #wedding-party{
        display: flex;
        justify-content: space-between;
    }
    #wedding{
        height: 1800px;
    }
    #travel{
        height: 700px;
    }
    .rot90{
        -webkit-transform: -webkit-rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .rot180{
        -webkit-transform: -webkit-rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}