*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: url(https://cdn.wallpapersafari.com/6/16/bo73SI.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    /* background-position: center; */
    font-family: 'PT Serif', serif;
}
h1{
    font-weight: lighter;
    font-size: 3rem;
}
h1,h3,h4{
    font-family: 'Lobster', cursive;
    text-align: center;
}
/* section{
    height: 100vh;
    position: relative;
} */
/* section Home */
#home{
    height: 1250px;
}
#title{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    /* border: red 2px solid; */
}
#hero-img{
    display: block;
    width: 80%;
    /* margin-left: 10%;; */
    margin: auto;
    margin-top: 10px;
    /* border: 2px solid black; */
}
#menu {
	display: none;
}
.slicknav_menu {
    display: block;
}
#igram{
    text-align: center;
    font-size: .75rem;
}

figcaption{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
#story{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    text-align: left;
}
#story h4{
    text-align: center;
    margin-top: 20px;
}
#story p{
    margin-top: 20px;
    /* text-align: center; */
}
/* end of Section Home */
/* section wedding */
#wedding{
    height: 2250px;
}
#laromana{
    display: block;
    width: 80%;
    margin: auto;
}
#wedding-details{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#wedding-schedule li{
    list-style-type: none;
}
#hotel-info li{
    list-style-type: square;
}
#wedding-party{
    /* border: 2px solid black; */
    padding-left: 0;
    /* text-decoration: underline; */
}
.wedding-party-img-containers{
    overflow: hidden;
    width: 175px;
    height: 110px;
    /* border: 2px solid red; */
    border-radius: 10%;
}
#steven img, #justin img,
#jason img{
    width: 200px;
    height: auto;
    border: 2px solid black;
    margin-left: -40px;
    margin-top: -30px;

}
#michelle img{
    width: 450px;
    height: auto;
    margin-left: -180px;
    margin-top: 30px;
    transform: rotate(90deg);
}
#emma img{
    width: 300px;
    height: auto;
    margin-left: -150px;
    margin-top: 0px;
}
#lizzy img{
    width: 200px;
    height: auto;
    margin-left: -43px;
    margin-top: 0px;
}
#norah img{
    width: 200px;
    height: auto;
    margin-left: -43px;
    margin-top: -50px;
}
#jason img{
    margin-left: -40px;
    margin-top: -60px;

}
#wedding-details h4{
    margin-top: 50px;
}
#wedding-party figure{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 250px;
    display: flex;
    margin-top: 40px;
}
/* end wedding */
/* begin travel */
#travel{
    height: 700px;
}
#travel-plane{
    display: block;
    width: 80%;
    margin: auto;
}
#pcairport{
    width: 60%;
    height: auto;
}
#airport-info{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
#travel p{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
#travel h4, h3{
    /* width: 80%; */
    text-align: center;
    margin-top: 50px;
}
#photos{
    width: 80%;
    margin: auto;
}
#carosel-michelle{
    transform: rotate(90deg);
    margin-top: 57px;
}
#myCarousel img{
    width: 300px;
    height: auto;
}
@media only screen  and (min-width : 400px) {
    #wedding{
        height: 2450px;

    }
    #wedding-details{
        width: 60%;
    }
    #wedding-party figure{
        width: 300px;
    }
    #groom-side{
        /* margin-left: 100px; */
    }
}
@media only screen  and (min-width : 970px) {
    #wedding{
        height: 2500px;

    }
}
@media only screen  and (min-width : 1100px) {
    #wedding{
        height: 2650px;

    }
}
/* 1224px */
@media only screen  and (min-width : 1215px) {
    /* Styles */
    body{
        font-size: 1.25rem;
    }
    #menu {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 60%;
        margin: auto;
        margin-top: 20px;
        /* border: 2px solid black; */
    }
    #menu li{
        display: inline;
    }
    .slicknav_menu {
        display: none;
    }
    #hero-img{
        width: 60%;
    }
    #laromana{
        display: block;
        width: 60%;
        margin: auto;
    }
    #home{
        height: 155vh;
    }
    #story{
        width: 60%;
    }
    #wedding{
        height: 230vh;
    }
    #wedding-details{
        width: 60%;
    }
    #wedding-party{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    #wedding-party figure{
        width: 300px;
    }
    #michelle img{
        transform: rotate(90deg);
    }
    #lizzy img{
        margin-left: -30px;
    }
    #groom-side{
        margin-left: 100px;
    }
    #travel{
        height: 1200px;
    }
    #travel-plane{
        width: 60%;
    }
    #airport-info{
        width: 60%;
    }
    #travel p{
        width: 60%;
    }
    #photos{
        width: 60%;
        margin: auto;
    }
}